body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: Cantarell;
  -moz-osx-font-smoothing: -moz-osx-font-smoothing;
}
.app2{
  width: 39rem;
  height: 25vh;
  display: block;
 display: inline;
 height: 100px;
 font-size: 2rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dfghj{
  display: inline;
  bottom: 10;
}
.second{
  background-color: aqua;
}
.dfghj{
  sdfsdfdsfsf
}
<<<<<<< HEAD
.enter{
  asdadadasd
}
=======
>>>>>>> f6afdfe38b84095a4ef1780c7ca396e13f2b31ea
